<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="${sharedRuntimePermission}" />

    <queries>
        <package android:name="${sharedRuntimeHostPackage}" />
    </queries>

    <application
        android:allowBackup="false"
        android:label="OMBRA"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".document.OmbraPdfIsolatedParserSpikeService"
            android:exported="false"
            android:isolatedProcess="true" />
    </application>
</manifest>
