<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="${sharedRuntimePermission}" />

    <queries>
        <package android:name="${sharedRuntimeHostPackage}" />
    </queries>

    <application
        android:allowBackup="false"
        android:label="Shared Runtime Client Consumer Fixture"
        android:supportsRtl="true" />
</manifest>
